<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{{title}}}</title>
    <script>
      // Wraps paragraphs with class pClass inside a div and adds an H4 element with pTitle.
      function transformAnnotatedParagraphs(pClass, pTitle) {
            $("p." + pClass).wrap( "<div class='annotated-paragraph "
                   + pClass + "' />" ).prepend("<h4>"+ pTitle +"</h4>");
      }

      transformAnnotatedParagraphs("goal", "Goal:");
      transformAnnotatedParagraphs("todo", "To do");
    </script>
    <style media="screen" type="text/css">
      .annotated-paragraph {
         margin: 20px 0;
         padding: 15px 30px 15px 15px;
         border-left: 5px solid #eee;
      }

      .annotated-paragraph h4 {
         margin-top: 0;
      }

      .annotated-paragraph p:last-child {
         margin-bottom: 0;
      }

      .goal {
         background-color: #f0f7fd;
         border-color: #d0e3f0;
      }

      .goal h4 {
         color: #3a87ad;
      }

      .todo {
         background-color: #dff0d8;
         border-color: #d6e9c6;
      }

      .todo h4 {
         color: #3c763d;
      }
    </style>
  </head>
  <body>
    <div class="container">
    {{{content}}}
    </div>
  </body>
</html>
